@use 'sass:math';

.page {
  font-family: Barlow, "Arial", sans-serif;
  background-color: $bgcolor;
  color: $fontcolor;
  font-size: 30px;
  font-weight: 400;
  line-height: math.div(18, 30) * 100%;
  overflow-x: hidden;
}

.page__body {
  min-width: 320px;
  height: 100%;
  background-color: $bgcolor;
}

