// Переменные

$bgcolor: #EFF6FF;
$fontcolor: #2A4A5C;
$fb: #255A9B;
$in: #0076B6;
$white: #FFFFFF;
$black: #666666;
$hover: #AFAFAF;
$active: #3698FB;
$line: #AFAFAF;
$border: #EEEEEE;

$mobile: 767px;
$tablet: 768px;
$desktop: 1100px;

// Подключение стилей

@import "null";
@import "fonts";
@import "page";
@import "header";
@import "main";
@import "registration";
@import "form";
